# Ignorar dependencias pesadas
node_modules/
dist/
.DS_Store

# Seguridad: IGNORAR LLAVES SECRETAS
.env
uploads/
!uploads/.gitkeep
database.json

# Otros
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.lock
package-lock.json
yarn.lock
